@import '../../../../content/scss/conf/conf';

:host {
  margin: 250px auto;
}

svg {
  animation: spin 1s infinite linear;
  display: block;
  height: 80px;
  margin: inherit;
  stroke: $primary-color;
  width: 80px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

