<div>
    <h2 id="page-heading">
        <span jhiTranslate="greatBigExampleApplicationApp.claim.home.title">Claims</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-claim" [routerLink]="['/claim/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="greatBigExampleApplicationApp.claim.home.createLabel">
            Create new Claim
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'greatBigExampleApplicationApp.claim.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="claims">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="greatBigExampleApplicationApp.claim.name">Name</span></th>
            <th><span jhiTranslate="greatBigExampleApplicationApp.claim.sortOrder">Sort Order</span></th>
            <th><span jhiTranslate="greatBigExampleApplicationApp.claim.imageLabel">Image Label</span></th>
            <th><span jhiTranslate="greatBigExampleApplicationApp.claim.imageLink">Image Link</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let claim of claims ;trackBy: trackId">
                <td><a [routerLink]="['/claim', claim.id, 'view' ]">{{claim.id}}</a></td>
                <td>{{claim.name}}</td>
                <td>{{claim.sortOrder}}</td>
                <td>{{claim.imageLabel}}</td>
                <td>{{claim.imageLink}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/claim', claim.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/claim', claim.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'claim/'+ claim.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
