<nav class="nav">
    <div class="nav-content">
        <a [routerLink]="['/']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}" class="nav-item"
            appAxFocus01Fix>Great Big Example Application</a>
        <div class="nav-right">
            <a [routerLink]="['/about']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}" class="nav-item"
                aria-label="About Great Big Example Application" appAxFocus01Fix>About</a>
        </div>
    </div>
</nav>
