textarea  {
  display: block;
  padding:25px 25px 40px;
  margin:0 auto 20px auto;
  width:250px;
  height:150px;
  font:20px 'Gloria Hallelujah', cursive;
  line-height:1.5;
  border:0;
  border-radius:3px;
  background: -webkit-linear-gradient(#F9EFAF, #F7E98D);
  background: -moz-linear-gradient(#F9EFAF, #F7E98D);
  background: -o-linear-gradient(#F9EFAF, #F7E98D);
  background: -ms-linear-gradient(#F9EFAF, #F7E98D);
  background: linear-gradient(#F9EFAF, #F7E98D);
  box-shadow:0 4px 6px rgba(0,0,0,0.1);
  overflow:hidden;
  transition:box-shadow 0.5s ease;
  font-smoothing:subpixel-antialiased;
  max-width:520px;
  max-height:250px;
  /*position: absolute;*/
}

textarea.yellow-note{
  background: -webkit-linear-gradient(#F9EFAF, #F7E98D);
  background: -moz-linear-gradient(#F9EFAF, #F7E98D);
  background: -o-linear-gradient(#F9EFAF, #F7E98D);
  background: -ms-linear-gradient(#F9EFAF, #F7E98D);
  background: linear-gradient(#F9EFAF, #F7E98D);
}

textarea.red-note{
  background: -webkit-linear-gradient(#F9AFAF, #F78D8D);
  background: -moz-linear-gradient(#F9AFAF, #F78D8D);
  background: -o-linear-gradient(#F9AFAF, #F78D8D);
  background: -ms-linear-gradient(#F9AFAF, #F78D8D);
  background: linear-gradient(#F9AFAF, #F78D8D);
}

textarea.green-note{
  background: -webkit-linear-gradient(#AFF9B0, #9FF78D);
  background: -moz-linear-gradient(#AFF9B0, #9FF78D);
  background: -o-linear-gradient(#AFF9B0, #9FF78D);
  background: -ms-linear-gradient(#AFF9B0, #9FF78D);
  background: linear-gradient(#AFF9B0, #9FF78D);
}

textarea.blue-note{
  background: -webkit-linear-gradient(#B3AFF9, #968DF7);
  background: -moz-linear-gradient(#B3AFF9, #968DF7);
  background: -o-linear-gradient(#B3AFF9, #968DF7);
  background: -ms-linear-gradient(#B3AFF9, #968DF7);
  background: linear-gradient(#B3AFF9, #968DF7);
}
textarea:hover { box-shadow:0 5px 8px rgba(0,0,0,0.15); }
textarea:focus { box-shadow:0 5px 12px rgba(0,0,0,0.2); outline:none; }

div.note-container {
  background: -webkit-linear-gradient(#CCCCCC, #DDDDDD);
  background: -moz-linear-gradient(#CCCCCC, #DDDDDD);
  background: -o-linear-gradient(#CCCCCC, #DDDDDD);
  background: -ms-linear-gradient(#CCCCCC, #DDDDDD);
  background: linear-gradient(#CCCCCC, #DDDDDD);
  cursor: pointer;
  cursor: hand;
}
