// Global Styles - all other components use encapsulation
// @see https://angular.io/docs/ts/latest/guide/component-styles.html#!#view-encapsulation

@import '../../../content/scss/conf/variables';
// Fonts
@font-face {
  font-family: $title-font;
  font-weight: normal;
  src: url('../../../content/fonts/GeosansLight.ttf');
}
@font-face {
  font-family: CheddarJack;
  font-weight: normal;
  src: url('../../../content/fonts/cheddar-jack.ttf');
}

c2c-layout {

// Elements
* {
  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $title-font;
  font-weight: normal;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

ul {
  list-style: none;
  padding-left: 0;
}

.bootstrap-loading {
  animation: bSpin 1s infinite linear;
  display: block;
  height: 80px;
  margin: 250px auto;
  stroke: $primary-color;
  width: 80px;
}

@keyframes bSpin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

}
