md-sidenav-container,
.gba-content {
  position: relative;
  margin: 0;
  width: 100%;
  height: 100%;

  .username {
    color: #fff;
    font-size: 14px;
    font-weight: normal;
  }
}

md-sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);

  .menu-button {
    text-align: left;
  }
}


.gba-content-inner {
  position: absolute;
  top: 64px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;

  .gba-content-main {
    padding: 30px;
  }
}
