<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="rebuttal">
            <h2><span jhiTranslate="greatBigExampleApplicationApp.rebuttal.detail.title">Rebuttal</span> {{rebuttal.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="greatBigExampleApplicationApp.rebuttal.longName">Long Name</span></dt>
                <dd>
                    <span>{{rebuttal.longName}}</span>
                </dd>
                <dt><span jhiTranslate="greatBigExampleApplicationApp.rebuttal.shortName">Short Name</span></dt>
                <dd>
                    <span>{{rebuttal.shortName}}</span>
                </dd>
                <dt><span jhiTranslate="greatBigExampleApplicationApp.rebuttal.date">Date</span></dt>
                <dd>
                    <span>{{rebuttal.date}}</span>
                </dd>
                <dt><span jhiTranslate="greatBigExampleApplicationApp.rebuttal.expires">Expires</span></dt>
                <dd>
                    <span>{{rebuttal.expires}}</span>
                </dd>
                <dt><span jhiTranslate="greatBigExampleApplicationApp.rebuttal.link">Link</span></dt>
                <dd>
                    <span>{{rebuttal.link}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/rebuttal', rebuttal.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
