<div *ngIf="page$ | async as page">
    <md-card>
        <md-card-title> Bernie Rebuttals</md-card-title>
        <md-card-content>
            <div>
                <div>
                    <span>
                        <label for="search-box">Search</label>
                        <input #searchBox id="search-box" (keyup)="search(searchBox.value)" />
                    </span>
                    <span>
                        <button *ngIf="!page.expanded" class="btn btn-default" title="Expand All" (click)="toggleExpanded()">Expand All</button>
                        <button *ngIf="page.expanded" class="btn btn-default" title="Collapse All" (click)="toggleExpanded()">Collapse All</button>
                        <button *ngIf="!page.editable" class="btn btn-default" title="Arrange rebuttals from strongest to weakest and click this when you are done"
                            (click)="toggleEditable()">Edit Mode</button>
                        <button *ngIf="page.editable && page.dirty" class="btn btn-default touched" title="Save changes" (click)="saveAll()">
                            Save Changes</button>
                        <button *ngIf="page.editable && !page.dirty" class="btn btn-default" title="Read only mode" (click)="toggleEditable()">
                            Read-Only Mode</button>
                        <button *ngIf="page.editable" class="btn btn-default" title="Add a new claim" (click)="addClaim()">
                            Add Claim</button>
                    </span>
                </div>
            </div>
        </md-card-content>
    </md-card>
    <br>
    <br>
    <div class="content-container box" [scrollTop]="page.scrollY">
        <div>{{deepClaims$ | async | json | shorten: 1000: '...' }}</div>
        <ul id="claim-list" [sortablejs]="deepClaims" [sortablejsOptions]="options" (update)="reorderClaims($event)">
            <li *ngFor="let claim of deepClaims$ | async">
                <jhi-bernie-claim [page]="page$ | async" [claim]="claim" (addClaim)="addClaim()" (toggleEditable)="toggleEditable()" (addRebuttal)="addRebuttal($event)"
                    (toggleRebuttals)="toggleRebuttals($event)" (reorderRebuttals)="reorderRebuttals(claim, $event)" (cancelRebuttal)="cancelRebuttal($event)"
                    (saveRebuttal)="saveRebuttal($event)" (makeRebuttalEditable)="makeRebuttalEditable($event)"></jhi-bernie-claim>
            </li>
        </ul>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <!--
  if(e.parameter.claim) {
    var id = e.parameter.claim;
    s +=     '<script type="text/javascript">'
      +      'goTo(' + id + ');'
      +      '</script>';
    }
    -->
    <p>Unaffiliated with any campaign. Made by volunteers with optimism for a better future</p>
</div>
