<div class="subheader">
  <div class="row">
    <div class="block mx-auto">
      <button *ngIf="!(page$ | async).expanded" class="btn btn-default" title="Expand All" (click)="toggleExpanded()">Expand All
    </button>
      <button *ngIf="(page$ | async).expanded" class="btn btn-default" title="Collapse All" (click)="toggleExpanded()">Collapse All
    </button>
      <button *ngIf="!(page$ | async).editable" class="btn btn-default" title="Arrange rebuttals from strongest to weakest and click this when you are done"
        (click)="toggleEditable()">
          Edit Mode
   </button>
      <button *ngIf="(page$ | async).editable && (page$ | async).dirty" class="btn btn-default touched" title="Save changes" (click)="saveAll()">
          Save Changes
   </button>
      <button *ngIf="(page$ | async).editable && !(page$ | async).dirty" class="btn btn-default" title="Read only mode" (click)="toggleEditable()">
          Read-Only Mode
   </button>
      <button *ngIf="(page$ | async).editable" class="btn btn-default" title="Add a new claim" (click)="addClaim()">
            Add Claim
    </button>
    </div>
  </div>
</div>
<section class="content-container">
  <ul id="claim-list" [sortablejs]="claims$ | async" (update)="reorderClaims($event)">
    <li *ngFor="let claim of claims$ | async">
      <bernie-claim [page]="page$ | async" [claim]="claim" (addClaim)="addClaim()" (toggleEditable)="toggleEditable()" (addRebuttal)="addRebuttal($event)"
        (toggleRebuttals)="toggleRebuttals($event)" (reorderRebuttals)="reorderRebuttals(claim, $event)" (cancelRebuttal)="cancelRebuttal($event)"
        (saveRebuttal)="saveRebuttal($event)" (makeRebuttalEditable)="makeRebuttalEditable($event)"></bernie-claim>
    </li>
  </ul>
</section>

<br><br><br><br><br><br><br><br><br><br><br>
<!--
  if(e.parameter.claim) {
    var id = e.parameter.claim;
    s +=     '<script type="text/javascript">'
      +      'goTo(' + id + ');'
      +      '</script>';
    }
    -->
<p>This page still gives me problems in Chrome. I have better luck with Opera</p>
<p>Unaffiliated with any campaign. Made by volunteers with optimism for a better future</p>
