<h2>Contact of {{userName$ | async}}</h2>
<div *ngIf="(msg$ | async)" class="msg">{{(msg$ | async)}}</div>

<form *ngIf="(contacts$ | async).length" (ngSubmit)="onSubmit()"
    #contactForm="ngForm" connect="contacts">
  <template connectArray let-id connectArrayOf="ids">
    <h3 highlight>{{ (contacts$ | async).entities[id].name | awesome }}</h3>
    <div class="form-group">
      <label for="name">Name</label>
      <input ngControl ngModel type="text" class="form-control" required name="name" #name="ngModel" >
      <div [hidden]="name.valid" class="alert alert-danger">
        Name is required
      </div>
    </div>
    <br>
    <button type="submit" class="btn btn-default" [disabled]="!contactForm.form.valid">Save</button>
    <button type="button" class="btn" (click)="nextContact()" [disabled]="!contactForm.form.valid">Next Contact</button>
    <button type="button" class="btn" (click)="newContact()">New Contact</button>
  </template>
</form>


<!-- 
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->