<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="comment">
            <h2><span jhiTranslate="greatBigExampleApplicationApp.comment.detail.title">Comment</span> {{comment.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="greatBigExampleApplicationApp.comment.body">Body</span></dt>
                <dd>
                    <span>{{comment.body}}</span>
                </dd>
                <dt><span jhiTranslate="greatBigExampleApplicationApp.comment.createdAt">Created At</span></dt>
                <dd>
                    <span>{{comment.createdAt}}</span>
                </dd>
                <dt><span jhiTranslate="greatBigExampleApplicationApp.comment.updatedAt">Updated At</span></dt>
                <dd>
                    <span>{{comment.updatedAt}}</span>
                </dd>
                <dt><span jhiTranslate="greatBigExampleApplicationApp.comment.article">Article</span></dt>
                <dd>
                    <div *ngIf="comment.article">
                        <a [routerLink]="['/article', comment.article?.id, 'view']">{{comment.article?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="greatBigExampleApplicationApp.comment.author">Author</span></dt>
                <dd>
                    <div *ngIf="comment.author">
                        <a [routerLink]="['/author', comment.author?.id, 'view']">{{comment.author?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/comment', comment.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
