<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="message">
            <h2><span jhiTranslate="greatBigExampleApplicationApp.message.detail.title">Message</span> {{message.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="greatBigExampleApplicationApp.message.userLogin">User Login</span></dt>
                <dd>
                    <span>{{message.userLogin}}</span>
                </dd>
                <dt><span jhiTranslate="greatBigExampleApplicationApp.message.message">Message</span></dt>
                <dd>
                    <span>{{message.message}}</span>
                </dd>
                <dt><span jhiTranslate="greatBigExampleApplicationApp.message.createdAt">Created At</span></dt>
                <dd>
                    <span>{{message.createdAt}}</span>
                </dd>
                <dt><span jhiTranslate="greatBigExampleApplicationApp.message.updatedAt">Updated At</span></dt>
                <dd>
                    <span>{{message.updatedAt}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/message', message.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
