<div>
  <add-button (add)="onAddNote('', $event)" addType="yellow"></add-button>
  <add-button (add)="onAddNote('', $event)" addType="red"></add-button>
  <add-button (add)="onAddNote('', $event)" addType="green"></add-button>
  <add-button (add)="onAddNote('', $event)" addType="blue"></add-button>
  <app-note 
    *ngFor="let note of notes" 
    [note]="note" 
    (changeNoteText) = "onChangeNoteText($event, note)"
    (changeNotePosition) = "onChangeNotePosition($event, note)"
  ></app-note>
</div>