<div>
  <add-button (add)="onAddNote($event)" colour="yellow"></add-button>
  <add-button (add)="onAddNote($event)" colour="red"></add-button>
  <add-button (add)="onAddNote($event)" colour="green"></add-button>
  <add-button (add)="onAddNote($event)" colour="blue"></add-button>
  <app-note
  [text] = "'Angular 2 Rocks!'"
  [colour] = "'red'"
  [left] = 200
  [top] = 100
  [disabled] = false
  (changeNoteText) = "onChangeNoteText($event)"
  (changeNotePosition) = "onChangeNotePosition($event)"></app-note>
</div>
