@media screen and (min-width: 1620px) {
  .row.shift-up {
    > * {
      margin-top: -573px;
    }
  }
}

@media screen and (max-width: 1620px) {
  .card.feed-panel.large-card {
    height: 824px;
  }
}

.user-stats-card {
  .card-title {
    padding: 0 0 15px;
  }
}

.blurCalendar {
  height: 475px;
}

// main background
@mixin body-bg() {
  $mainBgUrl: $content-root + $images-root + 'sky-bg.jpg';

  &::before {
    background: url($mainBgUrl) no-repeat center center;
  }
}
