<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="claimRebuttal">
            <h2><span jhiTranslate="greatBigExampleApplicationApp.claimRebuttal.detail.title">Claim Rebuttal</span> {{claimRebuttal.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="greatBigExampleApplicationApp.claimRebuttal.claimId">Claim Id</span></dt>
                <dd>
                    <span>{{claimRebuttal.claimId}}</span>
                </dd>
                <dt><span jhiTranslate="greatBigExampleApplicationApp.claimRebuttal.rebuttalId">Rebuttal Id</span></dt>
                <dd>
                    <span>{{claimRebuttal.rebuttalId}}</span>
                </dd>
                <dt><span jhiTranslate="greatBigExampleApplicationApp.claimRebuttal.sortOrder">Sort Order</span></dt>
                <dd>
                    <span>{{claimRebuttal.sortOrder}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/claim-rebuttal', claimRebuttal.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
