<div>
    <h2>
        <span jhiTranslate="greatBigExampleApplicationApp.talk.home.title">Talks</span>
        <button class="btn btn-primary float-right create-talk" [routerLink]="['/', { outlets: { popup: ['talk-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="greatBigExampleApplicationApp.talk.home.createLabel">
            Create new Talk
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'greatBigExampleApplicationApp.talk.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="talks">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="title"><span jhiTranslate="greatBigExampleApplicationApp.talk.title">Title</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="speaker"><span jhiTranslate="greatBigExampleApplicationApp.talk.speaker">Speaker</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="description"><span jhiTranslate="greatBigExampleApplicationApp.talk.description">Description</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="yourRating"><span jhiTranslate="greatBigExampleApplicationApp.talk.yourRating">Your Rating</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="rating"><span jhiTranslate="greatBigExampleApplicationApp.talk.rating">Rating</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let talk of talks ;trackBy: trackId">
                <td><a [routerLink]="['../talk', talk.id ]">{{talk.id}}</a></td>
                <td>{{talk.title}}</td>
                <td>{{talk.speaker}}</td>
                <td>{{talk.description}}</td>
                <td>{{talk.yourRating}}</td>
                <td>{{talk.rating}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../talk', talk.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'talk/'+ talk.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'talk/'+ talk.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <!-- Pager is not implemented yet, so this is normal pagination instead -->
        <div *ngIf="talks && talks.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page"  (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
