<rio-login-modal (onSubmit)="loginUser($event)" [hasError]="hasError$ | async" [isPending]="isLoading$ | async" *ngIf="loggedOut$ | async">
</rio-login-modal>
<bc-layout>
  <bc-sidenav [open]="showSidenav$ | async">
    <bc-nav-item (activate)="closeSidenav()" routerLink="/books" icon="book" hint="View your book collection">
      My Collection
    </bc-nav-item>
    <bc-nav-item (activate)="closeSidenav()" routerLink="/books/book/find" icon="search" hint="Find your next book!">
      Search for Books
    </bc-nav-item>
    <bc-nav-item (activate)="closeSidenav()" routerLink="/notes" icon="notes" hint="Write some notes">
      Notes
    </bc-nav-item>
    <bc-nav-item (activate)="closeSidenav()" routerLink="/counter" icon="exposure" hint="Practice counting">
      Counter
    </bc-nav-item>
    <bc-nav-item (activate)="closeSidenav()" routerLink="/contacts" icon="person" hint="Manage Contacts">
      Contacts
    </bc-nav-item>
    <bc-nav-item (activate)="closeSidenav()" routerLink="/heroes" icon="adb" hint="Tour of Heroes Demo">
      Heroes
    </bc-nav-item>
    <bc-nav-item (activate)="closeSidenav()" routerLink="/wiki" icon="format-bold" hint="Search Wikipedia">
      Wikipedia
    </bc-nav-item>
    <bc-nav-item (activate)="closeSidenav()" routerLink="/bernie" icon="format-bold" hint="Answer objections to Bernie">
      Bernie Rebuttals
    </bc-nav-item>
    <bc-nav-item (activate)="closeSidenav()" routerLink="/about" icon="tag-faces" hint="About this app">
      About
    </bc-nav-item>
  </bc-sidenav>
  <bc-toolbar (openMenu)="openSidenav()" class="header">
    <app-title [subtitle]="subtitle"></app-title>
    <rio-button className="bg-red white" (click)="logoutUser()" [hidden]="loggedOut$ | async">
      Logout
    </rio-button>
  </bc-toolbar>
  <div class="flex flex-auto"></div>
  <router-outlet></router-outlet>
</bc-layout>
