<h2 highlight>{{title}}</h2>

<div class="grid grid-pad">
  <jhi-dashboard-hero *ngFor="let hero of heroes$ | async" class="col-1-4" [hero]=hero (selected)="gotoHero($event)">
  </jhi-dashboard-hero>
</div>
<jhi-hero-search></jhi-hero-search>

<p>
  <h2 highlight>Crises</h2>

  <div class="grid grid-pad">
    <jhi-dashboard-crisis *ngFor="let crisis of crises$ | async" class="col-1-4" [crisis]=crisis (selected)="gotoCrisis($event)">
    </jhi-dashboard-crisis>
  </div>


  <!-- 
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
