<div class="heading">
<div class="row">
   <div class="block mx-auto">
    <button *ngIf="!(page$ | async).expanded"
            class="btn btn-default" 
            title="Expand All" 
            (click)="toggleExpanded()">Expand All
    </button>
    <button *ngIf="(page$ | async).expanded"
            class="btn btn-default" 
            title="Collapse All" 
            (click)="toggleExpanded()">Collapse All
    </button>
    <button *ngIf="!(page$ | async).editable"
          class="btn btn-default" 
          title="Arrange rebuttals from strongest to weakest and click this when you are done" 
          (click)="toggleEditable()" >
          Contribute Mode
   </button>
   <button *ngIf="(page$ | async).editable && (list$ | async).isTouched()"
          class="btn btn-default touched" 
          title="Save changes" 
          (click)="saveAll()">
          Save Changes 
   </button>
   <button *ngIf="(page$ | async).editable && !(list$ | async).isTouched()" 
          class="btn btn-default" 
          title="Read only mode" 
          (click)="toggleEditable()">
          Read-Only Mode 
   </button>
    <button *ngIf="(page$ | async).editable" 
            class="btn btn-default" 
            title="Add a new claim" 
            (click)="addClaim()">
            Add Claim
    </button>
   </div>
</div>
</div>
<ul id="claim-list" [sortablejs]="claims$ | async" [sortablejsOptions]="options">
<li *ngFor="let claim of claims$ | async">
   <debate-claim 
   [claimRebuttals] = "claimRebuttals$ | async"
   [page]="page$ | async"
   [claim]="claim"
   [rebuttals] = "rebuttals$ | async"

   (addClaim)="addClaim()" 
   (reorderClaims)="reorderClaims()" 
   (toggleEditable)="toggleEditable()" 

   (addRebuttal)="addRebuttal($event)" 
   (toggleRebuttals)="toggleRebuttals($event)" 
   (reorderRebuttals)="reorderRebuttals($event)" 

   (cancelRebuttal)="cancelRebuttal($event)"
   (saveRebuttal)="saveRebuttal($event)"
   (makeRebuttalEditable)="makeRebuttalEditable($event)"
   ></debate-claim>
</li>
</ul>

<br><br><br><br><br><br><br><br><br><br><br>
<!--
  if(e.parameter.claim) {
    var id = e.parameter.claim;
    s +=     '<script type="text/javascript">'
      +      'goTo(' + id + ');'
      +      '</script>';
    }
    -->
Unaffiliated with any campaign. Made by volunteers with optimism for a better future
