<md-card>
  <!--<md-toolbar color="accent">Messages</md-toolbar>-->
  <md-card-title> Messages - Websocket based</md-card-title>
  <md-card-content>
    <ag-grid-angular #messageGrid style="width: 100%; height: 500px;" class="ag-material" [gridOptions]="gridOptions" [columnDefs]="columnDefs"
      enableColResize enableSorting enableFilter rowHeight="46" rowSelection="multiple" paginationPageSize="5" rowModelType="pagination"
      (gridReady)="onGridReady()">
    </ag-grid-angular>
  </md-card-content>
  <div fxLayout fxLayoutAlign="space-between">
    <md-input-container>
      <input mdInput placeholder="Email" [(ngModel)]="email">
    </md-input-container>
    <md-input-container fxFlex="70">
      <input mdInput placeholder="Message" [(ngModel)]="message">
    </md-input-container>
    <button md-button color="accent" (click)="createMessage()">Send</button>
  </div>
</md-card>
