@import '../../../../../content/scss/conf/conf';
$label-color-default: #353536;

:host {
  justify-content: space-between;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: inherit;
  line-height: 1.15;
  margin: 0 auto;

  .label-container {
    display: block;

    .label-content {
      background-color: $black;
      border-radius: 50%;
      display: table;
      font-size: 14px;
      height: 70px;
      margin: 10px;
      position: relative;
      width: 70px;
    }
  }
  @media (max-width: 660px) {
    font-size: 14px;
    justify-content: space-between;
    padding: 0 10px;

    .label-container {
      .label-content {
        height: 60px;
        margin: 10px auto;
        width: 60px;
      }
    }
  }
  @media (max-width: 500px) {
    font-size: 14px;
    max-width: 260px;

    .label-container {
      width: 33%;
    }
  }
}

.label-text {
  color: $label-color-default;
  display: table-cell;
  line-height: 1.3;
  text-align: center;
  vertical-align: middle;
  word-spacing: 30000px; // http://stackoverflow.com/a/18891911/5357459
}
