<span *ngIf="page.editable">
  <span class="drag-handle">☰</span>
<button class="btn btn-default btn-xs" title="edit" (click)="makeEditable.emit(rebuttal)" *ngIf="!rebuttal.editing">✎</button>
<button class="btn btn-default btn-xs" title="save" (click)="save.emit({id: rebuttal.id, shortName: editForm.controls.shortName.value, longName: editForm.controls.longName.value, link: editForm.controls.link.value, comments: editForm.controls.comments.value})"
  *ngIf="rebuttal.editing">💾</button>
<button class="btn btn-default btn-xs cancel" title="cancel" (click)="cancel.emit({claimRebuttalId: claimRebuttalId, rebuttal: rebuttal})"
  *ngIf="rebuttal.editing">❌</button>
</span>

<form [formGroup]="editForm" *ngIf="rebuttal.editing">
  <input placeholder="Short Name" formControlName="shortName" class="form-control block col-12 mb1 input">
  <p *ngIf="editForm.controls.shortName.errors">This field is required!</p>
  <textarea placeholder="Long Name" formControlName="longName" class="form-control block col-12 mb1 textarea"></textarea>
  <input placeholder="Link" formControlName="link" type="url" class="form-control block col-12 mb1 input">
  <textarea placeholder="Comments" *ngIf="rebuttal.isNew" formControlName="comments" class="form-control block col-12 mb1 input"></textarea>
</form>

<span *ngIf="!rebuttal.editing">
     <b>{{rebuttal.shortName}}</b>
     <span>{{rebuttal.longName}}</span>
<a *ngIf="rebuttal.link" target="blank" [href]="rebuttal.link">🔗</a>
<div>{{rebuttal.comments}}</div>
</span>
