:host {
  background-color: #106cc8;
  display: block;
  height: 48px;
  padding: 0 16px;
}

h1,
a {
  display: inline;
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 0.1px;
  line-height: 48px;
  margin: 0;
  text-decoration: none;
  color: white !important;
}
