@import '../../../content/scss/conf/conf';

html,
body {
  height: 100%;
  margin: 0;
}

c2c-layout { // :host (this element)
  background-color: $white;
  display: block;
  min-height: 100%;
  position: relative;

  c2c-nav {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
  }

  .content-container {
    display: block;
  }

  jhi-footer {
    bottom: 0;
    display: block;
    left: 0;
    position: absolute;
    right: 0;
  }
}
