<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="profile">
            <h2><span jhiTranslate="greatBigExampleApplicationApp.profile.detail.title">Profile</span> {{profile.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="greatBigExampleApplicationApp.profile.username">Username</span></dt>
                <dd>
                    <span>{{profile.username}}</span>
                </dd>
                <dt><span jhiTranslate="greatBigExampleApplicationApp.profile.bio">Bio</span></dt>
                <dd>
                    <span>{{profile.bio}}</span>
                </dd>
                <dt><span jhiTranslate="greatBigExampleApplicationApp.profile.image">Image</span></dt>
                <dd>
                    <span>{{profile.image}}</span>
                </dd>
                <dt><span jhiTranslate="greatBigExampleApplicationApp.profile.following">Following</span></dt>
                <dd>
                    <span>{{profile.following}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/profile', profile.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
